<!-- page -->
<div class="services-breadcrumb">
	<div class="agile_inner_breadcrumb">
		<div class="container">
			<ul class="w3_short">
				<li>
					<a href="/">Home</a>
					<i>|</i>
				</li>
				<li>Checkout</li>
			</ul>
		</div>
	</div>
</div>
<!-- //page -->
<!-- checkout page -->
<div class="privacy py-sm-5 py-4">
	<div class="container py-xl-4 py-lg-2">
		<!-- tittle heading -->
		<h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
			<span>C</span>heckout
		</h3>
		<!-- //tittle heading -->
		<div class="checkout-right">
			<h4 class="mb-sm-4 mb-3">Your shopping cart contains:
				<span id="numProduct">{{numProduct}}</span> Products
			</h4>
			<div class="table-responsive">
				<table class="timetable_sub">
					<thead>
						<tr>
							<th>SL No.</th>
							<th>Product</th>
							<th>Quality</th>
							<th>Product Name</th>

							<th>Price</th>
							<th>Remove</th>
						</tr>
					</thead>
					<tbody>
						{{#each listProduct}}
						<tr class="rem3" id={{_id}}>
							<td>3</td>
							<td>
								<a href="/mobilephonesbrands/detail/{{_id}}">
									<img src="{{cover}}" alt=" " class="img-responsive" width="100">
								</a>
							</td>
							<td>
								<div class="quantity">
									<div class="quantity-select">
										<div class="entry value-minus" onclick="popCart('{{_id}}')"></div>
										<div class="entry value">
											<span>{{quantity}}</span>
										</div>
										<div class="entry value-plus active" onclick="addToCart('{{_id}}')"></div>
									</div>
								</div>
							</td>
							<td>{{name}}</td>
							<td>{{ftotal}}đ</td>
							<td>
								<a class="btn text-danger" onclick="removeProduct('{{_id}}')"><i
										class="fas fa-times-circle fa-2x"></i></a>
							</td>
						</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
		</div>
		<div class="checkout-left">
			<div class="address_form_agile mt-sm-5 mt-4">
				<h4 class="mb-sm-4 mb-3">Thông tin đơn hàng</h4>
				<div id="notify" class="text-danger mb-3 py-2 font-weight-bold"></div>
				<form action="/payment/payment" method="post" class="creditly-card-form agileinfo_form">
					<div class="creditly-wrapper wthree, w3_agileits_wrapper">
						<div class="information-wrapper">
							<div class="first-row">
								<div class="controls form-group">
									<input class="billing-address-name form-control" type="text" name="name" id="name"
										placeholder="Họ & Tên" value="{{user.name}}" onblur="validateName()">
								</div>
								<div class="w3_agileits_card_number_grids">
									<div class="w3_agileits_card_number_grid_left form-group">
										<div class="controls">
											<input type="text" class="form-control" placeholder="Số điện thoại"
												name="phoneNumber" id="phoneNumber" value="{{user.phoneNumber}}" onblur="validatePhone()">
										</div>
									</div>
								</div>
								<div class="controls form-group">
									<input type="text" class="form-control" placeholder="Tỉnh/Thành phố" name="city" id="city" onblur="validateCity()">
									<input type="text" class="form-control" placeholder="Quận/Huyện" name="district" id="district" onblur="validateDistrict()">
									<input type="text" class="form-control" placeholder="Phường/Xã" name="subDistrict" id="subDistrict" onblur="validateSubDistrict()">
									<input type="text" class="form-control" placeholder="Tòa nhà/Tên đường" name="street" id="street" onblur="validateStreet()">
								</div>
								<div class="controls form-group">
									<select class="option-w3ls" name="paymentMethod" placeholder="Phương thức thanh toán">
										<option value="Thanh toán khi nhận hàng">Thanh toán khi nhận hàng</option>
										<option value="Thanh toán online">Thanh toán online</option>
									</select>
								</div>
								
								<div class="my-3 text-left">
									<div class="my-3 h4">
											<span class="text-dark">Tổng tiền hàng: </span>
											<span class="text-danger" id="totalPrice">{{totalPrice}}đ</span><br>
									</div>
									
								</div>
								<button type="submit" class="submit check_out btn my-3">Thanh Toán</button>
							</div>
						</div>
				</form>
				{{!-- <div class="checkout-right-basket">
					<a href="payment.html">Make a Payment
						<span class="far fa-hand-point-right"></span>
					</a>
				</div> --}}
			</div>
		</div>
	</div>
</div>
<!-- //checkout page -->



<script type="text/x-handlebars-template" id="templateProduct">
<td>3</td>
<td>
    <a href="/mobilephonesbrands/detail/\{{_id}}">
        <img src="\{{cover}}" alt=" " class="img-responsive" width="100">
    </a>
</td>
<td>
    <div class="quantity">
        <div class="quantity-select">
            <div class="entry value-minus" onclick="popCart('\{{_id}}')">&nbsp;</div>
            <div class="entry value">
                <span>\{{quantity}}</span>
            </div>
            <div class="entry value-plus active" onclick="addToCart('\{{_id}}')">&nbsp;</div>
        </div>
    </div>
</td>
<td>\{{name}}</td>
<td>\{{ftotal}}đ</td>
<td>
    <a class="btn text-danger" onclick="removeProduct('\{{_id}}')"><i class="fas fa-times-circle fa-2x"></i></a>
</td>
</script>