<div>
    <h3 class="text-primary">Đơn hàng của tôi</h3>
    
    {{#if isEmpty}}
    <div class="text-center">
        <img class="img-fluid" src="/images/emptycart.png">
        <h4 class="my-2">Bạn vẫn chưa có đơn đặt hàng!</h4>
        <button class="submit check_out btn"><a class="text-white" href="/mobilephonesbrands/all">Mua
                ngay</a></button>
    </div>
    {{else}}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Mã đơn hàng</th>
                <th scope="col">Ngày mua</th>
                <th scope="col">Sản phẩm</th>
                <th scope="col">Tổng tiền</th>
                <th scope="col">Trạng thái đơn hàng</th>
            </tr>
        </thead>
        <tbody>
            {{#each listOrder}}
            <tr>
                <th scope="row">{{_id}}/th>
                <td>{{orderDate}}</td>
                <td>To Kill A Mockingbird (Paperback) - Giết con chim nhại</td>
                <td>{{total }}₫</td>
                <td>{{orderStatus}}</td>
            </tr>
            {{/each}}
            
            {{!-- <tr>
                <th scope="row">18120322</th>
                <td>28/04/2019</td>
                <td>To Kill A Mockingbird (Paperback) - Giết con chim nhại</td>
                <td>184.000 ₫</td>
                <td>Giao hàng thành công</td>
            </tr>
            <tr>
                <th scope="row">18120322</th>
                <td>28/04/2019</td>
                <td>To Kill A Mockingbird (Paperback) - Giết con chim nhại</td>
                <td>184.000 ₫</td>
                <td>Giao hàng thành công</td>
            </tr>
            <tr>
                <th scope="row">18120322</th>
                <td>28/04/2019</td>
                <td>To Kill A Mockingbird (Paperback) - Giết con chim nhại</td>
                <td>184.000 ₫</td>
                <td>Giao hàng thành công</td>
            </tr> --}}
        </tbody>
    </table>
    {{/if}}
    
</div>